body {
    background-color: #231423; /* Dark background color */
    font-family: 'Courier New', monospace; /* Font commonly used in terminals */
    margin: 20px;
    font-size: medium;
}

#term {
    color: rgb(174, 25, 223);
}

#welcome {
    color: rgb(84, 41, 255);
    font-weight: bold;
}

#command {
    background-color: #231423;
    color: #4bbc43;
    padding: 7px; /* Example padding */
    border: 0px;
    font-size: medium;
    font-family: 'Courier New', monospace;
    outline: none;
}

#commandForm {
    color: #4bbc43;
    font-size: medium;
    font-family: 'Courier New', monospace;
    border: 0px;
}