body {
    background-color: #231423; /* Dark background color */
    font-family: 'Courier New', monospace; /* Font commonly used in terminals */
    margin: 20px;
    font-size: medium;
}

#term {
    color: rgb(174, 25, 223);
}

#username {
    color: rgb(174, 25, 223);
    font-weight: bold;
}
#welcome {
    color: #4bbc43;
    font-weight: bold;
}

#command {
    background-color: #231423;
    color: #4bbc43;
    border: 0px;
    font-size: medium;
    font-family: 'Courier New', monospace;
    outline: none;
}

#commandForm {
    color: #4bbc43;
    font-size: medium;
    font-family: 'Courier New', monospace;
    border: 0px;
}

#outputField {
    color: #4bbc43;
    font-size: medium;
    font-family: 'Courier New', monospace;
    max-width: 50%; 
    white-space: pre-wrap; /* or white-space: pre-line; */

}